.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10px;
}

.App-header {
  /* background-color: #222; */
  background-image: url("https://thumbs.dreamstime.com/z/blockchain-digitization-blue-grey-background-hexagonal-shaped-pattern-85379808.jpg");
  height: 70px;
  padding: 10px;
  color: black;
  font-size: 25px
}

.App-title {
  margin: 5px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
